<div>
    <ng2-adsense #ng2adsense [adClient]="'ca-pub-7905036614069244'" [adSlot]="9305048734" [display]="'inline-block'" [width]="innerWidth"
        [height]="108">></ng2-adsense>
    <vg-player>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <!--<vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>-->

        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>

            <!--<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>-->

            <!--<vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>-->

            <!--<vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>-->

            <!--<vg-track-selector></vg-track-selector>-->
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>


            <vg-fullscreen></vg-fullscreen>
            <ng-cast></ng-cast>
        </vg-controls>

                <video #video [vgMedia]="media" #media id="singleVideo" [vgHls]="src" preload="auto" crossorigin>
                    <source [src]="src" [type]="application/x-mpegURL">
                </video>
                <div id="adContainer"></div>

    </vg-player>
</div>